{% extends 'base.html' %}
{% load mathfilters %}

{% block con %}
    <h1><b>SH BOARD</b></h1>

    <div class="text-end">
        <a class="btn btn-dark" href="{% url 'board:create' %}">WRITE</a>
    </div>

    <table class="table table-hover mt-4">
        <thead>
            <tr class="table-dark">
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">WRITER</th>
                <th scope="col">SUMMARY</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bset %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'board:detail' i.id %}" class="sub">{{ i.subject }}</a></td>
                    <td>{{ i.writer }}</td>
                    <td>{{ i.content|truncatewords:10 }}</td>
                    <td>{{ i.likey }}</td>
                </tr>
            {% empty %}
                <tr class="text-center">
                    <th colspan="5"><h4>첫번째 게시글을 작성해주세요 💦</h4></th>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if bset.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page=1">처음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{ bset.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">처음</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
            {% endif %}
            
            {% for i in bset.paginator.page_range %}
                {% if i >= bset.number|sub:3 and bset.number|add:3 >= i %}
                    <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ i }}" {% if bset.number == i %}active{% endif %}>{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if bset.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{ bset.next_page_number }}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{ bset.paginator.num_pages }}">마지막</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">다음</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">마지막</a></li>
            {% endif %}
        </ul>
    </nav>



    <style>
        .sub {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .sub:hover{
            color:brown;
        }
    </style>
{% endblock %}